.container{
    background-color: hotpink;
    width: 40vw;
    height: 40vh;
    /* position: relative; */
}

.div{
    width: 40vw;
    height: 40vh;
    background-color: red;
}

.div2{
    background-color: blue;
    position: absolute;
}

.div3{
    background-color: green;

}

.div4{
    background-color: black;

}

.div5{
    background-color: orange;

}
